[Unit]
Description=⚡𝗛𝗘𝗠𝗔𝗡𝗧𝗛⚡ Mirror-Leech Bot Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/mirrorbot
Environment="PATH=/root/mirrorbot/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/root/mirrorbot/venv/bin/python3 -m bot
Restart=always
RestartSec=10
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
